body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5d1bc;
}

/* P치gina de login */
.login-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 97vh;
}

.descricao-projeto{
    font-size: 3rem;
}

.login-container {
    width: 20%;
    background-color: #ffffff;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #000000;
}

.login-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 90%;
    padding: 5%;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #9b9b9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group p{
    font-size: 0.7rem;
    margin-left: 1%;
    margin-top: -0.6%;
}

.form-group button:hover {
    background-color: #727272;
}

/* P치gina de cadastro */
.body-cadastro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5d1bc;
}

.cadastro-container{
    margin: 30px;
    width: 40%;
    background-color: #ffffff;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #000000;
}

.cadastro-container h2, .botoes{
    display: flex;
    justify-content: center;
}

.botao-selecionado {
    background-color: #aaaaaa;
    color: white;
}

.form-group-cadastro input {
    width: 94%;
    padding: 2.5%;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.botoes{
    margin-bottom: 30px;
}

/* P치gina principal receptor */
nav{
    width: 100%;
    height: 40px;
    background-color: #f58840;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    width: 10%;
    margin-right: 2%;
}

nav div img{
    width: 20%;
    height: 25px;
}

.perfil{
    cursor: pointer;
}

.principal{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 93vh;
    height: auto;
}

.side{
    width: 20%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color:#f5d1bc;
}

.search{
    position: relative;
    display: flex;
    width: 100%;
    height: 25px;
}

.search img{
    position: absolute;
    height: 20px;
    right: 5px;
    margin: 1%;
}

.catalogo{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: flex-start;
    gap: 30px;
    background-color: #f5ebe5;
    padding: 1.5% 0.5% 1.5% 3%;
}

.card{
    width: 30%;
    height: 250px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.card img{
    width: 100%;
    height: 200px;
    margin: 0;
}

.card h2{
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
}

.card p{
    text-align: center;
    font-size: 0.7rem;
    margin: 0;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#updateProfileForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#updateProfileForm input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#updateProfileForm button {
    padding: 10px;
    background-color: #f58840;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#updateProfileForm button:hover {
    background-color: #e07e34;
}

.success-message {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#modal-produto .modal-content {
    margin-top: 3%;
    width: 60%;
}

.info-produto {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}

.info-produto img {
    width: 60%;
    border-radius: 10px;
}

.detalhes-produto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.detalhes-produto h2 {
    margin: 0;
    font-size: 1.6em;
    color: #333;
}

.detalhes-produto p {
    margin: 0;
    font-size: 1em;
    color: #666;
}

.detalhes-produto p strong,
.reserva-produto label {
    color: #333;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f58840;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #e07e34;
}

#botao-reservar {
    margin-top: 10px;
}

.detalhes-secundarios {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reserva-produto {
    display: none;
    flex-direction: column;
    gap: 10px;
}

#quantidadeReserva, #dataReserva {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.confirmar {
    background-color: #4caf50; /* Verde para confirmar */
}

button.confirmar:hover {
    background-color: #45a049;
}

#botao-cancelar {
    margin-top: -5px;
    background-color: #e74c3c; /* Vermelho para cancelar */
}

#botao-cancelar:hover {
    background-color: #c0392b;
}

/* P치gina principal doador */
.card-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;  
    width: 30%;
    height: 250px;
    border: 1px solid #818181;
    border-radius: 5px;
    background-color: #ebe2d9;
    cursor: pointer;
}

.card-add img{
    width: 20%;
    height: 20%;
    margin: 0;
}

.card-add h2{
    text-align: center;
    font-size: 1rem;
    margin: 0;
    color: #585858;
}

#addProductForm{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#addProductForm input{
    width: 98%;
    height: 20px;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.selects{
    display: flex;
    gap: 10%;
}

#addProductForm select{
    width: 40%;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

#addProductForm select:hover{
    cursor: pointer;
    background-color: #cacaca;
}

.select-container{
    display: flex;
    gap: 8px;
    width: 100%;
}

#addProductForm button{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #f58840;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addProductForm button:hover {
    background-color: #e07e34;
}

#botao-remover {
    background-color: #e74c3c;
    margin-top: 10px;
}

#botao-remover:hover {
    background-color: #c0392b;
}